header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
header .logo-container {
    background-image: url('../images/logo.png');
    width: 140px;
    height: 60px;
    margin-left: 20px;

}
